<h1>Hola, Nexos!</h1>
<p>Está es una aplicación de prueba para Nexos, creada con:</p>
<ul>
  <li><strong>Angular 8.0:</strong> Para crear el front End</li>
  <li><strong>.NET core 2.1:</strong> Para crear los servicios de consulata a la base de datos</li>
  <li><strong>SQLServer:</strong> Servicio de Bases de datos</li>
  <li><strong>Boostrap:</strong> Framework de estilos CSS</li>
</ul>

<ul>
  <li><strong>Creada por:</strong></li>
  <ul>Pablo Alfonso Ospina</ul>
  <ul>Correo: paopadp1@gmail.com</ul>
</ul>

